<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Controls</title>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/require.js"></script>
    <script src="/scripts/controls.js"></script>
    <script>
        requirejs.config({
            baseUrl: 'scripts'
        });

        // Start loading the main app file. Put all of
        // your application logic in there.
        requirejs(['index']);
    </script>
</head>
<body>
asdsdsss2
</body>
</html>
